//////////////////////////////////////////////////
// ESTREITANDO O SITE COMPLETO
//////////////////////////////////////////////////
.container {
  max-width: 960px;
}

//////////////////////////////////////////////////
// ESPAÇAMENTO DO CONTEÚDO: MENU FIXO NO TOPO
//////////////////////////////////////////////////
.page-content {
  padding-top: 100px;
  font-family: 'Rubik', sans-serif;
}

//////////////////////////////////////////////////
// CUSTOMIZAÇÃO DA INICIAL
//////////////////////////////////////////////////
.post-list {
  list-style: none;
  padding: 0px;
}
.post-meta {
  font-size: 1em;
  color: #828282;
}
.post-link {
  text-decoration: none;
}

a.anchor {
  display: block;
  position: relative;
  top: -90px;
  visibility: hidden;
}