//////////////////////////////////////////////////
// ESTREITANDO O SITE COMPLETO
//////////////////////////////////////////////////
.container {
  max-width: 960px;
}

//////////////////////////////////////////////////
// ESPAÇAMENTO DO CONTEÚDO: MENU FIXO NO TOPO
//////////////////////////////////////////////////
.page-content {
  margin-top: 100px;
}

//////////////////////////////////////////////////
// CUSTOMIZAÇÃO DA INICIAL
//////////////////////////////////////////////////
.post-list {
  list-style: none;
  padding: 0px;
}
.post-list li {
  margin: 40px 0;
}
.post-meta {
  font-size: 1em;
  color: #828282;
}
.post-link {
  text-decoration: none;
}