---
layout: default
---
<article itemscope itemtype="http://schema.org/BlogPosting" class="row justify-content-center">

  <header class="col-lg-10">
    <h1 itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        Publicado em {% include date.html date=page.date %}
      </time>

      {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
      {%- endif -%}</p>
  </header>

  <div itemprop="articleBody" class="col-lg-10">
    {{ content }}
  </div>

  <hr class="my-5">
  <div class="row">
    <div class="col">
      {% if page.previous.url %}
      <p><span class="text-muted small">Post anterior:</span><br>
      <a class="icon-link" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a></p>
      {% endif %}
    </div>
    <div class="col text-end">
      {% if page.next.url %}
      <p><span class="text-muted small">Próximo post:</span><br>
      <a class="icon-link" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
      {% endif %}
    </div>
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>